#donate {
  background-color: $dark-green;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid $darker-green;
}


//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
//
//input.donately-text-input {
//  background-color: #121418 !important;
//  border: 1px solid #050505 !important;
//  color: #fff !important;
//}
//label.donately-label {
//  color: #fff;
//}
//div.donately-secure-fields {
//  background-color: #121418;
//  color: #fff;
//  border: 1px solid #050505;
//}
//.donately-secure-header {
//  background-color: #090909;
//  box-shadow: none;
//}
//.donately-btn.donately-submit {
//  border: none;
//  background-image: none;
//  text-shadow: none;
//  background-color: #126712;
//  font-family: 'Open Sans', sans-serif;
//  text-transform: uppercase;
//  font-size: 12px;
//  letter-spacing: .2em;
//  padding: 12px 40px;
//}
//input#donately-card-number {
//  background: #ffffff url("http://dev.lawlietblack.com/img/default.png") right center no-repeat;
//}
//div {
//  color: #fff;
//}
