#mainpage {
  @include outer-container;

  .half { 
	@include span-columns(6);
  }
  @media screen and (max-width: $large-screen) {
	.half { 
	  @include span-columns(12); 
	  margin-bottom: 20px;
	}
  }
}

#aboutus {
  $medium-screen: 40em !default;
  h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 0.9em;
	@include media($medium-screen) {
	  font-size: 1.4em;
	}
  }
  p {
	font-family: "Nunito", sans-serif;
	font-size: 1.05em;
	font-weight: 300;
	line-height: 1.4em;
	margin-bottom: 1.5em;
  }
}
