body {
  color: #fff;
  background-color: lighten($grey, 5%);
}

a {
  color: lighten($lighter-teal, 20%);
  &:hover {
    color: lighten($lighter-blue, 20%);
    text-decoration: none;
  }
}

#header {
  .navbar.navbar-inverse {
    .navbar-brand {
      color: #fff;
    }
    background-color: $dark-green;
    border-color: $darker-green;
    .navbar-nav {
      > li > a {
        color: lighten(#9d9d9d, 10%);
      }
      > li.active > a, 
      > li > a:hover {
        color: #fff;
        background-color: $green;
      }
    }
  }
}
#body {
  margin-top: 100px;
}
.jumbotron {
  background-color: $dark-green;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
