body {
  color: #fff;
  background-color: lighten($grey, 5%);
}

a {
  color: lighten($lighter-teal, 20%);
  &:hover {
    color: lighten($lighter-blue, 20%);
    text-decoration: none;
  }
}

.mobile {
  display: none;
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-right: 10px;
  }
}

#header {
  .navbar.navbar-inverse {
    background-color: $dark-green;
    border-color: darken($dark-green, 5%);
    .navbar-brand {
      color: #fff;
    }
    .navbar-nav, .dropdown-menu {
      background-color: $dark-green;
      border-color: $dark-green;
      > li > a {
        color: lighten(#9d9d9d, 10%);
      }
      > li.active > a, 
      > li > a:hover,
      > li > a:active,
      > .open > a {
        color: #fff;
        background-color: $green;
      }
    }
  }
  .navbar-toggle {
    background-color: $dark-green;
    &:hover, 
    &:active {
      color: #fff;
      background-color: $green;
    } 
  }
  .nav-category {
    padding: 3px 10px;
  }
}
#body {
  margin-top: 100px;
}
.jumbotron {
  background-color: $dark-green;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
