// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

$screen-small: 768px; 

$grey: #1D2026;
$silver: #CFC8B0;

// As hex codes */

$lighter-green: #308A30;
$light-green: #126712;
$green: #014701;
$dark-green: #002B00;
$darker-green: #001400;

$lighter-teal: #246868;
$light-teal: #0E4D4D;
$teal: #013535; 
$dark-teal: #002020;
$darker-teal: #000F0F;

$lighter-blue: #304574;
$light-blue: #162A56;
$blue: #07173B;
$dark-blue: #020D24;
$darker-blue: #010511;