/*Not loaded directly, loaded with donately embed attribute*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

input.donately-text-input {
	background-color: #222428 !important;
	border: 1px solid #121418 !important;
	color: #fff !important;
}
label.donately-label {
	color: #fff;
}
div.donately-secure-fields {
	background-color: #222428;
	color: #fff;
	border: 1px solid #121418;
}
.donately-secure-header {
	background-color: #121418;
	box-shadow: none;
}
.donately-btn.donately-submit {
	border: none;
	background-image: none;
	text-shadow: none;
	background-color: #126712;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .2em;
	padding: 12px 40px;
}
input#donately-card-number {
	background: #ffffff url("https://openmerchantaccount.com/img2/generic.png") right center no-repeat;
}
div {
	color: #fff;
}
