@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  color: #fff;
  background-color: #282c34; }

a {
  color: #3eb4b4;
  text-decoration: none; }
  a:hover {
    color: #4bc1c1;
    text-decoration: none; }

.mobile {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile {
      display: inline-block;
      margin-right: 10px; } }

header.navigation .logo {
  height: 60px; }
  header.navigation .logo img {
    height: 48px;
    width: 48px;
    padding: 0;
    margin-top: 6px; }

.donate-bar {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  margin-top: 20px;
  background: #3e4551 url("/images/banner.jpg") no-repeat left top;
  background-size: cover; }
  .donate-bar::after {
    clear: both;
    content: "";
    display: table; }
  .donate-bar .content {
    font-family: "Varela Round", sans-serif;
    text-align: right;
    padding: 10px 40px; }
    .donate-bar .content h1 {
      margin-top: 12px;
      text-shadow: 1px 1px 1px #222; }
    @media screen and (max-width: 40em) {
      .donate-bar .content {
        padding: 10px; }
        .donate-bar .content h1 {
          font-size: 1.4em; } }

#body {
  margin-top: 20px;
  min-height: 400px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #body::after {
    clear: both;
    content: "";
    display: table; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

a.button, button.button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background: #027902;
  border-radius: 3px;
  border: 1px solid #014701;
  color: #fff;
  outline: none;
  padding: 0.375em 0.809em;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  a.button:hover, a.button:focus, button.button:hover, button.button:focus {
    background: #029202;
    color: #fff; }
  a.button:active, button.button:active {
    background: #027902; }
  a.button.cta, button.button.cta {
    border-color: #162A56;
    background-color: #304574;
    font-size: 22px; }

.card {
  background-color: #3e4551;
  padding: 20px;
  margin-bottom: 20px; }
  .card img {
    max-width: 100%; }
  .card .titlebar {
    margin: -20px -20px 20px;
    padding: 10px 20px;
    background-color: #014701; }
    .card .titlebar h1, .card .titlebar h3, .card .titlebar h5 {
      margin: 0; }
      .card .titlebar h1 a, .card .titlebar h3 a, .card .titlebar h5 a {
        color: #fff; }
        .card .titlebar h1 a:hover, .card .titlebar h3 a:hover, .card .titlebar h5 a:hover {
          color: rgba(255, 255, 255, 0.7); }

header.navigation {
  background-color: #014701;
  border-bottom: 1px solid #001500;
  min-height: 60px;
  width: 100%;
  max-width: 68em;
  margin: auto;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.9);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #014701;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.9);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.9);
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu,
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #013801;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #014701;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }

.footer {
  background: #002B00;
  padding: 3em 1.618em;
  width: 100%;
  max-width: 68em;
  margin: auto;
  margin-top: 40px; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em; }
  .footer ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

article.type-system-rounded, .article.type-system-rounded {
  font-family: "Nunito", sans-serif;
  text-align: left; }
  article.type-system-rounded::after, .article.type-system-rounded::after {
    clear: both;
    content: "";
    display: table; }
  article.type-system-rounded h1,
  article.type-system-rounded h2,
  article.type-system-rounded h3,
  article.type-system-rounded p, .article.type-system-rounded h1,
  .article.type-system-rounded h2,
  .article.type-system-rounded h3,
  .article.type-system-rounded p {
    margin: 0; }
  article.type-system-rounded hr, .article.type-system-rounded hr {
    border-bottom: 1px solid #3e4551;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5em 0; }
  article.type-system-rounded p, .article.type-system-rounded p {
    color: #fff;
    line-height: 1.5em; }
  article.type-system-rounded a, .article.type-system-rounded a {
    color: #3eb4b4;
    text-decoration: none; }
  article.type-system-rounded .type, .article.type-system-rounded .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase; }
  article.type-system-rounded h1, .article.type-system-rounded h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.8em;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 40em) {
      article.type-system-rounded h1, .article.type-system-rounded h1 {
        font-size: 2.4em; } }
  article.type-system-rounded h2, .article.type-system-rounded h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 0.9em; }
    @media screen and (min-width: 40em) {
      article.type-system-rounded h2, .article.type-system-rounded h2 {
        font-size: 1.4em; } }
  article.type-system-rounded code, .article.type-system-rounded code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-family: monaco;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  article.type-system-rounded h3, .article.type-system-rounded h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em; }
  article.type-system-rounded p.date, .article.type-system-rounded p.date {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Nunito", sans-serif;
    font-size: 0.9em;
    margin-bottom: 0.3em; }
  article.type-system-rounded p, .article.type-system-rounded p {
    font-family: "Nunito", sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 1.5em; }
    article.type-system-rounded p span, .article.type-system-rounded p span {
      font-family: "Varela Round", sans-serif;
      font-size: 0.8em;
      text-transform: uppercase; }
  article.type-system-rounded a.read-more, .article.type-system-rounded a.read-more {
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    article.type-system-rounded a.read-more span, .article.type-system-rounded a.read-more span {
      font-size: 1.5em;
      position: absolute;
      right: -12px;
      top: -1px; }
  article.type-system-rounded hr, .article.type-system-rounded hr {
    width: 3em; }
  article.type-system-rounded p.author, .article.type-system-rounded p.author {
    font-family: "Nunito", sans-serif; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em; }

input,
select,
textarea {
  display: block;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple],
select {
  background-color: #121418;
  border: 1px solid #050505;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover,
  select:hover {
    border-color: #040404; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus,
  select:focus {
    border-color: #014701;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(1, 46, 1, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled,
  select:disabled {
    background-color: #202020;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover,
    select:disabled:hover {
      border: 1px solid #050505; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.75em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

#mainpage {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #mainpage::after {
    clear: both;
    content: "";
    display: table; }
  #mainpage .half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #mainpage .half:last-child {
      margin-right: 0; }
  @media screen and (max-width: 53.75em) {
    #mainpage .half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 20px; }
      #mainpage .half:last-child {
        margin-right: 0; } }

#aboutus h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em; }
  @media screen and (min-width: 40em) {
    #aboutus h2 {
      font-size: 1.4em; } }

#aboutus p {
  font-family: "Nunito", sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 1.5em; }

#blog-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #blog-container::after {
    clear: both;
    content: "";
    display: table; }
  #blog-container #blog-posts {
    position: relative;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    #blog-container #blog-posts:last-child {
      margin-right: 0; }
  #blog-container #blog-categories {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    #blog-container #blog-categories:last-child {
      margin-right: 0; }
  @media screen and (max-width: 53.75em) {
    #blog-container #blog-categories, #blog-container #blog-posts {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      #blog-container #blog-categories:last-child, #blog-container #blog-posts:last-child {
        margin-right: 0; } }

#blog-title {
  margin: 0.25em 0 0.75em; }

.showing {
  position: absolute;
  top: 20px;
  right: 20px; }

.video-thumb {
  max-height: 160px;
  max-width: 160px; }
  @media screen and (max-width: 768px) {
    .video-thumb {
      margin: 0 0 16px 16px; } }

.post {
  position: relative;
  overflow: auto; }
  @media screen and (min-width: 993px) {
    .post .lead {
      position: absolute;
      font-size: 1.2em;
      top: 0;
      right: 20px; } }
  .post a.read-more {
    text-decoration: none;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;
    line-height: 1.4em; }
    .post a.read-more span {
      font-size: 1.5em;
      position: absolute;
      right: -12px;
      top: -1px; }

.category-list .category {
  color: rgba(255, 255, 255, 0.7);
  background-color: #002B00;
  border-color: #002100;
  border-radius: 0;
  padding: 0.375em 0.809em;
  display: block;
  transition: all 0.2s ease-in-out;
  width: 100%; }
  .category-list .category:first-child {
    border-radius: 3px 3px 0 0; }
  .category-list .category:last-child {
    border-radius: 0 0 3px 3px; }
  .category-list .category:hover, .category-list .category.active {
    color: #fff;
    background-color: #014701; }

article header {
  position: relative; }
  @media screen and (min-width: 768px) {
    article header h5 {
      margin: 0;
      position: absolute;
      top: 14px;
      right: 20px; } }

article .share {
  position: absolute;
  top: 34px;
  right: 20px; }
  article .share .twitter-share-button, article .share .facebook-share-button {
    float: left;
    margin: 0 8px; }
  @media screen and (max-width: 768px) {
    article .share {
      top: 10px;
      right: 10px; } }

article .img-responsive {
  margin: 10px auto 20px; }
  @media screen and (min-width: 993px) {
    article .img-responsive {
      max-width: 460px;
      float: right;
      margin: 0 0 10px 10px; } }
  @media screen and (min-width: 1200px) {
    article .img-responsive {
      max-width: 780px; } }

article .img-thumb {
  max-width: 260px;
  margin: auto; }

article .video-frame {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  margin: 10px auto;
  overflow: hidden; }
  article .video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#post .card .titlebar {
  height: 60px;
  padding: 18px; }
  @media screen and (max-width: 768px) {
    #post .card .titlebar {
      margin-bottom: 60px; } }

#post .document-container {
  height: 400px;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto; }

#contact .thanks {
  text-align: center; }

#contact input, #contact select, #contact textarea {
  background-color: #121418;
  border: 1px solid #050505;
  color: #fff; }

.gallery-date::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 480px) {
  .gallery-date {
    float: none !important;
    display: block;
    text-align: left; } }

.gallery-images {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch; }
  .gallery-images::after {
    clear: both;
    content: "";
    display: table; }

.gallery-image {
  margin: 12px; }

#documents {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  #documents .document {
    list-style: none;
    position: relative;
    width: 320px;
    height: 400px;
    margin: 20px; }
  #documents .document-container {
    width: 280px;
    height: 260px; }
  #documents .document-open {
    position: absolute;
    bottom: 20px;
    right: 20px; }
  #documents h4 {
    margin: 0; }

.enquiry-details {
  margin: 0; }

.enquiry-label {
  display: inline-block;
  width: 120px; }

.enquiry-message-label {
  margin: 10px 0 0;
  color: #014701; }
